h1{ 
	text-align: center;
	text-decoration: underline;
	margin-bottom: 50px;
}
.result{
    text-align:center;
    font-size: 100px
}
#name{
    color: #5acf1b;
    text-transform: uppercase;
}
body{
	background-image: url("../image/bgimg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color:#ffff;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
.image-div{
	width: 300px;
	min-height: 100px;
	border: 2px solid #dddd;
	margin-top: 25px;
	margin-bottom: 50px;

	display: flex;
	align-items: center;
	font-weight: bold;
	color: #cccc;
}
.image{
	display:none;
	width: 100%;
}
.preview{
	text-align: center;
	margin: center
}
.row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.col{
    flex: 50%;
    margin-left: 100px;
}